.collapsedStopwatch,.expandedStopwatch{
    position: fixed;
    width: 15vw;
    height: 18vh;
    right: 0px;
    top: 0px;
    background-color:rgba(211,211,211,0.8);
    z-index: 1000000;
    color:black;
    line-height: 1.2;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 10pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0; 
    margin: 0; 
    padding: 0;
}

.expandedStopwatch span, .collapsedStopwatch span{
    border: 0; 
    margin: 0; 
    padding: 0;
    vertical-align: middle;
    visibility: visible;
}



.collapsedStopwatch{
    height: 7vh;
    width: 11vw;
}

 .collapsedStopwatch b{
    display: none;
 }

.stopwatchDrag{
    position: absolute;
    text-align:center; 
    bottom: 0; 
    border: 1.5pt;
    border-style: solid;
    border-color: rgba(150, 150, 150, 0.6);
    background-color: rgba(200, 200, 200, 1);
    box-sizing: border-box;
    width: 100%;
    z-index: 1000001;
}

.collapseClick{
    position: absolute;
    display: flex;
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center (optional) */
    background-color: rgb(180,180,180);
    font-size: 10pt;
    top: 8pt;
    right: 10pt;
    text-align:center;
    box-sizing: border-box;
    border-color: rgb(150, 150, 150);
    border-style: outset;
    border-width: 2pt;
    background-attachment:fixed;
    cursor: pointer;
    color: black;
    border-radius: 0;
    height: 15pt;
    width: 20pt;
    text-align: center;
    vertical-align: center;
    font-size: 10pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.resetClick, .resetClickCollapse{
    position:relative;
    display: flex;
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center (optional) */
    background-color: rgb(180,180,180);
    top: 3pt;
    left: 8pt;
    text-align:center;
    height: 15pt;
    box-sizing: border-box;
    border-color: rgb(150, 150, 150);
    border-style: outset;
    border-width: 2pt;
    background-attachment:fixed;
    cursor: pointer;
    color: black;
    border-radius: 0;
    text-align: center;
    vertical-align: center;
    font-size: 10pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.resetClickCollapse{
    display:none;
}

.collapseClick:hover{
    background-color: darkgray;
}

